html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
  background: whitesmoke;
}

.errormessage {
  margin-top: 20px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.successmessage {
  color: #2b7515;
  background: #ecffd6;
  padding: 5px;
  border: 1px solid #617c42;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.warningmessage {
  color: #756e15;
  background: #fffbd1;
  padding: 5px;
  border: 1px solid #87803e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.messageTitle {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 12px;
  font-weight: 700;
  color: #00582e;
}

.messageForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  min-width: 300px;
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: rgba(36, 56, 36, 0.158);
}

.messageForm input {
  padding: 7px;
  border: none;
  color: #00582e;
  font-size: 110%;
  background: white;
  font-weight: 550;
}

.messageForm input:focus {
  border: 2px solid #0eb967;
}

.messageForm .textBoxInput {
  padding-bottom: 40%;
}

.messageForm button {
  margin-top: 20px;
  background: #00582e;
  color: white;
  text-transform: uppercase;
  font-weight: 550;
  border: none;
  padding: 5px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 130%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px;
}

.messageForm button:hover {
  background: #157a49;
}

.messageForm button:active {
  background: #0eb967;
}

.contactFormButton {
  background: whitesmoke;
  color: #00582e;
  text-transform: uppercase;
  font-weight: 550;
  border: none;
  padding: 5px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 130%;
}

@media only screen and (min-width: 800px) {
  .messageBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 69.5vw;
    margin-left: 30vw;
  }
  .messageTitle {
    font-size: 15px;
  }
  .messageForm {
    width: 40%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0px;
    margin-top: 15vh;
    margin-right: 2vw;
    margin-bottom: 0vh;
    padding: 10px;
  }
  .messageForm button {
    font-size: 70%;
  }
  .textBoxInput {
    padding-bottom: 0px;
    margin-bottom: -20px;
  }
  .contactInfoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 100%;
  }
  .contactInfoContainer .contactInfoTitle {
    font-size: 170%;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #00582e;
  }
  .contactInfoContainer .contactUnderTitle {
    font-size: 72%;
    color: #00582e;
  }
  .contactInfoContainer .contactEmail {
    margin-top: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10%;
    gap: 15px;
    color: #00582e;
    font-weight: 400;
  }
  .contactInfoContainer .contactPhoneNumber {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10%;
    gap: 15px;
    color: #00582e;
    font-weight: 400;
  }
  .contactInfoContainer .contactAddress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10%;
    gap: 15px;
    color: #00582e;
    font-weight: 400;
  }
  .contactInfoContainer .mapholder {
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1095px) {
  .messageBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 30vw;
  }
  .messageTitle {
    font-size: 15px;
  }
  .messageForm {
    width: 40%;
    margin: 0px;
    margin-top: 10vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20vh;
    padding: 30px;
  }
  .textBoxInput {
    padding-bottom: 0px;
  }
  .contactInfoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3vh;
    margin-right: 3vw;
    margin-left: 3vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 110%;
  }
  .contactInfoContainer .contactInfoTitle {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 170%;
    margin-left: 6vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #00582e;
  }
  .contactInfoContainer .contactUnderTitle {
    margin-left: 6vw;
    margin-top: 7px;
    font-size: 80%;
    color: #00582e;
  }
  .contactInfoContainer .contactEmail {
    margin-top: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10%;
    gap: 15px;
    color: #00582e;
    font-weight: 500;
    font-size: 90%;
  }
  .contactInfoContainer .contactPhoneNumber {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10%;
    gap: 15px;
    color: #00582e;
    font-weight: 500;
    font-size: 90%;
  }
  .contactInfoContainer .contactAddress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10%;
    gap: 15px;
    color: #00582e;
    font-weight: 500;
    font-size: 90%;
  }
  .contactInfoContainer .mapholder {
    margin-top: 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 635px) {
  .messageBox {
    margin-left: auto;
  }
}
/*# sourceMappingURL=ContactUs.css.map */